/* ===========================================
   THEME TOGGLE
=========================================== */

.theme-toggle{

width:62px;

height:34px;

padding:4px;

display:flex;

align-items:center;

border:none;

border-radius:50px;

cursor:pointer;

background:var(--border);

transition:.35s;

position:relative;

overflow:hidden;

}

.theme-toggle.dark{

background:linear-gradient(
135deg,
#2563EB,
#4F46E5
);

}

.toggle-circle{

width:26px;

height:26px;

border-radius:50%;

background:white;

display:flex;

justify-content:center;

align-items:center;

color:#F59E0B;

box-shadow:0 6px 15px rgba(0,0,0,.15);

transition:.35s;

}

.theme-toggle.dark .toggle-circle{

transform:translateX(28px);

color:#2563EB;

}

.theme-toggle:hover{

transform:scale(1.05);

}

.theme-toggle:active{

transform:scale(.95);

}